@import "blocks/base.less";
@import "blocks/navigation.less";
@import "blocks/header-slider.less";
@import 'blocks/header.less';

/*
font-family: 'Fira Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'League-Spartan', sans-serif;
*/