
/*
font-family: 'Fira Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'League-Spartan', sans-serif;
*/


// TODO var for colors
// var for media responsive
// mb some mixins


// Responsive breakpoints
@minLarge: ~'(min-width: 1254px)';
@minMedium: ~'(min-width: 992px)';
@minSmall: ~'(min-width: 768px)';



//Colors
@blue: #5da8ef;

@import "blocks/base.less";
@import "blocks/navigation.less";
@import "blocks/header-slider.less";
@import "blocks/quote.less";
@import "blocks/media.less";
@import "blocks/shop.less";
@import "blocks/article.less";
@import "blocks/subscribe.less";
@import "blocks/adress.less";
@import "blocks/footer.less";
@import "blocks/social.less";