	.adress {
	position: relative;
	min-height: 475px;
	margin-top: 150px;
}

.adress__img {
	width:75%;
	position: absolute;
	top: 0;
	right: auto;
	bottom: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: -1;
	
	@media @minMedium {
		width: 50%;
	}
}

.adress-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;

	@media @minMedium {
		
		justify-content: flex-end;
	}
}

.adress__desc {
	width: 70%;
	margin-left: 5%;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 40px;

	@media @minMedium {
		padding: 45px 0 0;
		width: 50%;
		padding-top: 105px;
		padding-left: 45px;
	}
}

.adress__label {
	color: rgba(11, 12, 17, 0.27);
	font-family: 'League Spartan', sans-serif;
	font-size: 9px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 5.58px;
	text-transform: uppercase;
}

.adress__location {

	color: #333333;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0.32px;
	margin-top: 30px;
	margin-bottom: 30px;	

	@media @minMedium {
		margin-top: 60px;
		margin-bottom: 60px;
		margin-left: 60px;
		font-size: 32px;
		line-height: 46px;
	}

}

.adress__desc .read-more-link {
	@media (max-width: 350px) {
		font-size: 6px;
	}
}