.slide-wrapper {
	position: relative;
}

.slide-item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	position: relative;
	justify-content:flex-end;
}

.slide-item_desc {
	width: 600px;
	position: absolute;
	left: 0;
	
	span {
		color: rgba(93, 168, 239, 0.9);
		text-transform: uppercase;
		font-family: 'League-Spartan', sans-serif;
		font-size: 9px;
		letter-spacing: 5.4px;
		line-height: 18px;
	}
}

.slide-item_desc_heading {
	font-family: 'Playfair Display', serif;
	color: #0b0c11;
	font-size: 62px;
	line-height: 64px;
	font-weight: 700;
	margin-bottom: 14px;
}

.slide-item_desc_text {
	width: 500px;
	color: #8f8f8f;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.35px;
}
	
.slide-item_img {
	width: 1016px;
	height: 572px;
	background-size: cover;	
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: -16px 25px 26px rgba(11, 12, 17, 0.2);
}

.slide-item_img--bg-1 {	
	background-image: url("../img/img/img-header.jpg");
}

.slide-controller {
	position: absolute;
	width: 81px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	left: 0;
	bottom: 0;
}

.slide-controls_left {
	
}

.slide-controls_right {

}

.slide-control-number {
	font-family: 'League-Spartan', sans-serif;
	font-size: 10px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 4px;
	text-transform: uppercase;
	margin-top: 5px;
}

.slide-control-number__active{
	color: #5da8ef;
}

.slide-control-number__from {
	color: #ebebeb;
}

.slide-control-number__total {
	color: #262626;
}