.shop {
	padding-top: 95px;
	margin-bottom: 100px;

	position: relative;
	 &:after {
	 	position: absolute;
	 	content: "";
	 	bottom: 0;
	 	left: 0;
	 	right: 0;
	 	width: 100%;
	 	height: 984px;
	 	z-index: -1;

	 	background-image: url("../img/bg/bg-water.jpg");
	 	background-repeat: no-repeat;
	 	background-size: cover;
	 	background-position: center;
	 }
}
.shop-slider-wrapper {
	height: 565px;
	margin-bottom: 50px;
	position: relative;
}

.shop-slider-holder {
	position: absolute;
	right: -50px;
	left: 0;
	margin-bottom: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 1274px;
}

.shop-slider {
	margin-top: 50px;
	margin-bottom: 80px;
	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.board {
	width: 435px;
	height: 435px;
	position: relative;
	margin-top: 130px;
}

.board__img-holder {
	width: 250px;
	height: 320px;
	background-color: #ececec;
	position: absolute;
	bottom: 0;
	left: 0;
}

.board__img {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%, 0);
}

.board-desc {
	width: 180px;
	position: absolute;
	top: 196px;
	left: 216px;
}

.board__cat {
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: #7a7a7a;
	text-transform: uppercase;
	letter-spacing: 2.4px;
}

.board__title {
	font-family: 'Playfair Display', serif;
	color: #333;
	font-size: 26px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.26px;
}

.board-buy {
	margin-top: 38px;
	margin-left: 55px;
}

.board-buy__price {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: -0.1px;
	color: #ce60a8;
}

.board-buy__btn {
	color: #333333;
	font-size: 9px;
	font-family: 'League-Spartan', sans-serif;
	text-transform: uppercase;
	letter-spacing: 5.4px;
	font-weight: 700;
	line-height: 20	px;
}


.shop-slider__controller {
	cursor: pointer;
	height: 19px;
	vertical-align: middle;
	margin-top: auto;
	margin-bottom: auto;
}

#shop-slider__prev {
	padding-right: 80px;
}

#shop-slider__next {
	padding-left: 80px;
}

.shop__link {
	margin-top: 180px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
